<nav>
  <mat-toolbar>
    <div>
      <button mat-button (click)="toHome()">
        <mat-icon>home</mat-icon>
        Home
      </button>
    </div>
    <span class="spacer"></span>
    <div>
      <button mat-button (click)="toProjects()">
        <mat-icon>person</mat-icon>
        Projects
      </button>
    </div>
    <div>
      <button mat-button (click)="toLogin()">
        <mat-icon>login</mat-icon>
        Login
      </button>
    </div>
    <div>
      <button mat-button (click)="toRegister()">
        <mat-icon>view_quilt</mat-icon>
        Register
      </button>
    </div>
  </mat-toolbar>
</nav>