<div class="register-form">
    <form name="register">
        <h1>Sign Up For An Account</h1>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="John">
                <mat-icon matSuffix>person</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Tan">
                <mat-icon matSuffix>person</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="john@gmail.com">
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput>
                <mat-icon matSuffix>lock</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
        </div>
        <div>
            <button type="submit" mat-raised-button color="primary"
            >
          <mat-icon>login</mat-icon>
          <span>Register</span>
        </button>
        </div>
    </form>
</div>