<!-- Pipes -->
<!-- Used in templates to transform values, typically for display -->
<h1>Order for: {{name | uppercase}}</h1>
<h2><code>{{order | json}}</code></h2>

<form [formGroup]="form" (ngSubmit)="processForm()">
    <table>
        <tr>
            <td>
                <label>Name:</label> 
            </td>
            <td>
                <mat-form-field hintLabel="Max 10 characters" appearance="fill">
                    <input type="text"  matInput #input maxlength="10" placeholder="Ex. Alex" formControlName="name">
                    <mat-hint align="end">{{input.value.length}}/10</mat-hint>
                </mat-form-field>
            </td>
        </tr>

        <tr>
            <td>
                <label>Email:</label> 
            </td>
            <td>
                <mat-form-field appearance="fill">
                <input type="email"  matInput placeholder="alex@gmail.com" formControlName="email">
                </mat-form-field>
            </td>
        </tr>

        <tr>
            <td>Rush The Order: </td>
            <td>
                <mat-checkbox></mat-checkbox>
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <div> valid: {{ form.valid }}, invalid: {{ form.invalid }} </div>
                <div> pristine: {{ form.pristine }}, dirty: {{ form.dirty }} </div>
                <div> email: {{ form.get('email')?.valid }} </div>
            </td>
        </tr>
        <tr>
            <td></td>
                <td class="button-row">
                    <button mat-raised-button color="warn" type="button" (click)="clearForm()">Reset Form</button>
                    <button mat-raised-button color="accent" type="button" (click)="addItem()">Add Item</button>
                    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Process Order</button>
                </td>
        </tr>
    </table>

    <div *ngIf="lineItems.length <= 0">
        <h2>Your cart is empty</h2>
    </div>

    <table *ngIf="lineItems.length > 0">
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody formArrayName="lineItems">
            <tr *ngFor="let li of lineItems.controls; let i = index"
          [formGroupName]="i">
                <td>
                    <mat-form-field appearance="fill">
                        <input type="text"  matInput formControlName="item">
                        </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill">
                        <input type="number" matInput placeholder="Minimum order is 1" formControlName="quantity">
                    </mat-form-field>
                </td>
                <td>
                    <button mat-icon-button type="button" (click)="deleteItem(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>

    </table>

</form>